<%= simple_form_for(@locality, :remote=>true) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
<%if @locality.persisted? %>
<%= f.input :suburb_id, label: 'Region', collection: @regions, label_method: :region_name, value_method: :id, input_html: {id: "id_regions" }  %>
<%else %>
<%= f.input :suburb_id, label: 'Region', collection: @regions, label_method: :region_name, value_method: :id, input_html: {id: "id_regions" }  %>


<%end %>
   <%= f.input :suburb_id, label: "City", collection: [], label_method: :city_name, value_method: :id, input_html:{id: "id_cities"}  %>

    <%= f.input :suburb_id, collection: [], label_method: :suburb_name, value_method: :id, input_html:{id: "id_suburbs"}  %>

    <%= f.input :locality_name %>

    <%= f.input :status, :as=> :hidden, input_html: {value: 1 } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-success', remote: true %>
    <%= link_to ' Go Back', localities_path, class: 'pull-right btn btn-info fa fa-angle-double-left', :remote=>true %>
  </div>
  <br>
<% end %>

<script type="text/javascript">
    $(document).ready(function() {
        console.log('works');
        //empty it
//        $('#id_cities').empty();
        //before ajax call

        //when region field if loaded
        //  $('#id_regions').ready(function() {
        //    // console.log('works on change for keep');
        //     $.ajax({
        //         url: '<%= city_update_path %>',
        //         data: {
        //             region_id : $('#id_regions').val()
        //         },
        //         dataType: "script"
        //     });
        // });

        //when city field is loaded
        // $('#id_cities').ready(function() {
        //    console.log('City loaded');


        // setTimeout(function(){
        //     console.log('ready');
        //   $.ajax({
        //                 url: '<%= suburb_update_path %>',
        //                 data: {
        //                     city_id : $('#id_cities').val()
        //                 },
        //                 dataType: "script"
        //             });

        //         }, 2000);

        //     setTimeout(function(){
        //         $("#id_suburbs option").each(function(){
        //             console.log("current"+$(this).val());
        //             console.log(" suburb id: <%= @locality.suburb_id %>");

        //           if ($(this).val() == "<%= @locality.suburb_id %>"){
        //             console.log('selected attr added');
        //             $(this).attr("selected","selected");
        //             }

        //             });

        //     }, 2000);

        // });



        $('#id_regions').change(function() {
           // console.log('works on change');
            $.ajax({
                url: '<%= city_cascade_path %>',
                data: {
                    region_id : $('#id_regions').val()
                },
                dataType: "script"
            });
        });


     });

    </script>

    <script type="text/javascript">
    $(document).ready(function() {
        console.log('works');
        //empty it
//        $('#id_cities').empty();
        //before ajax call

        $('#id_cities').change(function() {
           console.log('works on change');
            $.ajax({
                url: '<%= suburb_cascade_path %>',
                data: {
                    city_id : $('#id_cities').val()
                },
                dataType: "script"
            });
        });
    });

    </script>
