<div class="row">
   <div class="col-md-3 xs-3"></div>

   <div class="col-md-6 xs-12" id="content">
     <p id="notice"><%= notice %></p>

     <table class="table table-striped">
     <h3>Listing Locality</h3>
	     <thead>
		    <tr>
		      <th>Suburb</th>
		      <th>Locality Name</th>
		    </tr>
		 </thead>

		 <tbody>
		    <td><%= @locality.suburb.suburb_name if @locality.suburb %></td>
		    <td><%= @locality.locality_name %></td>
		 </tbody>

    </table>

  <% if current_user.present? && current_user.role_id == 1 %>
    <%= link_to ' Edit Suburb', edit_locality_path(@locality), class: 'btn btn-success', remote: true %>
  <% end %>
  
    <%= link_to ' Go Back', localities_path, class: 'btn btn-info  pull-right fa fa-angle-double-left', :remote=>true %>

   </div>

   <div class="col-md-3 xs-3"></div>
</div>

<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Suburb:</strong>
  <%= @locality.suburb_id %>
</p>

<p>
  <strong>Locality name:</strong>
  <%= @locality.locality_name %>
</p>

<%= link_to 'Edit', edit_locality_path(@locality) %> |
<%= link_to 'Back', localities_path %> -->
