<%= simple_form_for(@suburb, :remote=>true) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  <%= f.input :city_id, label: 'Region', collection: @regions, label_method: :region_name, selected: @region_id,  input_html:{id: "id_regions"} %>
    <%#= f.input :city_id, collection: @cities, label_method: :city_name, value_method: :id %>
    <%= f.input :city_id, collection:  [], input_html:{id: "id_cities"} %>
    <%= f.input :suburb_name %>
    <%= f.input :status, :as=> :hidden, input_html: {value: 1 } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-success', remote: true %>
    <%= link_to ' Go Back', suburbs_path, class: 'pull-right btn btn-info fa fa-angle-double-left', :remote=>true %>
  </div>
<% end %>

<!-- selected: @region_id, -->
<script type="text/javascript">
    $(document).ready(function() {
        console.log('works for keep');
        //empty it
//        $('#id_cities').empty();
        //before ajax call

        $('#id_regions').ready(function() {
           console.log('works on change for keep');
            $.ajax({
                url: '<%= city_update_path %>',
                data: {
                    region_id : $('#id_regions').val()
                },
                dataType: "script"
            });
        });


        $('#id_regions').change(function() {
           console.log('works on change');
            $.ajax({
                url: '<%= city_cascade_path %>',
                data: {
                    region_id : $('#id_regions').val()
                },
                dataType: "script"
            });
        });
    });

    </script>