<!-- <p id="notice"><%= notice %></p> -->

<div class="col-md-2"></div>
<div class="col-md-8">
  <h3>Listing Suburbs</h3>

  <div class="table-responsive" style="border: none">
      <table class="table table-striped table-bordered table-condensed">
        <thead>
          <tr style="background: #F5FFFA;">
              <p style = 'text-align: center; font-family: tahoma; font-size: 15px;'><b>Download:</b> <%= link_to "csv", suburbs_path(format: "csv") %> | <%= link_to "excel", suburbs_path(format: "xlsx") %> </p>
          <% if current_user.present? && current_user.role_id == 1 %>
            <%= link_to 'New Suburb', new_suburb_path, class: 'btn btn-default pull-right', style: 'position: fixed', :remote=> true %>
          <% end %>

          <%=form_tag suburbs_path, method: :get, input_html:{display:"block"} do %>

          <div class="pull-right"><input id="suburb_name" type="radio" name="search_param" value="suburb_name" style="width: auto;" /> Filter by Suburb Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>

           <!-- <div class="pull-right"><input id="phone_number" type="radio" name="search_param" value="phone_number" style="width: auto; " /> Filter by phone number &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div> -->


          <input type="submit" id="search-field2" class=" hidden btn btn-primary pull-right" value="Search" style="margin-right: -10px">

          <div class="form-inline" style="margin-left: 10px">
             <input id="search-field" class="form-control hidden pull-right"  name="search_value" />
          </div>

          <% end %>

            <br><br>
            <th>S/N</th>
            <th>City</th>
            <th>Suburb name</th>
          <% if current_user.present? && current_user.role_id == 1 %>
            <th colspan="3" style="width: 10%">Options</th>

          <% else%>
            <th style="width: 10%">Options</th>
          <% end %>
          </tr>
        </thead>

        <tbody>
          <% @suburbs.each do |suburb| %>
            <tr>
              <td><%= suburb.id %></td>
              <td><%= suburb.city.city_name if suburb.city %></td>
              <td><%= suburb.suburb_name %></td>
              <td><%= link_to ' Show', suburb, class: 'btn btn-info fa fa-eye' %></td>

              <% if current_user.present? && current_user.role_id == 1 %>
                  <td><%= link_to ' Edit', edit_suburb_path(suburb), class: 'btn btn-default fa fa-edit' %></td>
                  <!-- <td><%= link_to ' Delete', suburb, method: :delete , class: 'btn btn-danger fa fa-remove', data: { confirm: 'Are you sure?' } %></td> -->

                  <td>
                    <% if suburb.status == false %>
                        <%= link_to 'Enable', enable_suburb_path(:id => suburb.id), :class => 'btn btn-success'%>
                        <% else suburb.status == true %>
                        <%= link_to 'Disable', disable_suburb_path(:id => suburb.id), :class => 'btn btn-danger',data: {confirm: 'Are you sure?'}%>
                    <% end %>
                  </td>

              <% end %>

            </tr>
          <% end %>
        </tbody>
      </table>

      <%= will_paginate @suburbs, renderer: BootstrapPagination::Rails, previous_label: 'Older', next_lable: 'Newer', class: 'pagination-sm'  %>

  </div>

</div>
<div class="col-md-2"></div>
<br>


<script>
    $(document).ready(function() {
        $(".radio_div div input").click(function() {
            $("#date_div").addClass("hidden");
            $("#search-field").removeClass("hidden");
            $("#narrative_div").addClass("hidden");
            //$("#date_div").fadeIn('slow');
        });
        $("#suburb_name").click(function() {
            if ($("#suburb_name").is(":checked")) {
                $("#search-field").attr("placeholder", "Suburb name");
                $("#search-field2").removeClass("hidden")
                $("#search-field").removeClass("hidden");
            }
        });
        ////////////////////////////////////////////////////////////////////////////
        $("#phone_number").click(function() {
            if ($("#phone_number").is(":checked")) {
                $("#search-field").attr("placeholder", "Mobile number");
                $("#date_div").addClass("hidden");
                $("#search-field").removeClass("hidden");
                $("#search-field2").removeClass("hidden")
            }
        });
        $("#recipient_number").click(function() {
            if ($("#recipient_number").is(":checked")) {
                $("#search-field").attr("placeholder", "Recipient Number");
                $("#date_div").addClass("hidden");
                $("#search-field").removeClass("hidden");
            }
        });
        //////////////////////////clicking on filter by date
        $("#date").click(function() {
            //if ($("#date").is(":checked")){
            $("#date_div").removeClass("hidden");
            $("#search-field").addClass("hidden");
            $("#date-field").removeClass("hidden");
            $("#date-field2").removeClass("hidden");
            $("#search-field2").removeClass("hidden")
            //$("#date_div").fadeIn('slow');
            //}
        });
        $("#date-field").click(function() {
            //if ($("#date").is(":checked")){
            $("#date_div").removeClass("hidden");
            $("#search-field").addClass("hidden");
            $("#date-field").removeClass("hidden");
            $("#date-field2").removeClass("hidden");
            $("#search-field2").removeClass("hidden")
            //$("#date_div").fadeIn('slow');
            //}
        });
        $("#date-field2").click(function() {
            //if ($("#date").is(":checked")){
            $("#date_div").removeClass("hidden");
            $("#search-field").addClass("hidden");
            $("#date-field").removeClass("hidden");
            $("#date-field2").removeClass("hidden");
            $("#search-field2").removeClass("hidden")
            //$("#date_div").fadeIn('slow');
            //}
        });
        ///////////////////////////////////////////////////
        // $.fn.datepicker.noConflict = function() {
        //     $.fn.datepicker = old;
        //     return this;
        // };
        // ////////////////////////////////////////////////////
        // $(function() {
        //     $('#date-field').datepicker({
        //         dateFormat : 'yy-mm-dd'
        //     });
        // });
        // //////////////////////////////////////////////////////
        // $(function() {
        //     $('#date-field2').datepicker({
        //         dateFormat : 'yy-mm-dd'
        //     });
        // });
        $('#csv').click(function() {
            console.log('works!');
            $('#csv_perpage').val($('#record').val());
            $('#csv_page').val($('li.active span').html());
            $('#csv_submit').click();
            console.log('works!');
        });
        /////////////////////////////////////////////////////////////
        $('#excel').click(function() {
            $('#excel_perpage').val($('#record').val());
            $('#excel_page').val($('li.active span').html());
            $('#excel_submit').click();
        });
    });
</script>
