<div class="row">
   <div class="col-md-3 xs-3"></div>

   <div class="col-md-6 xs-12" id="content">
     <p id="notice"><%= notice %></p>

     <table class="table table-striped">
     <h3>Listing Suburbs</h3>
	     <thead>
		    <tr>
		      <th>City</th>
		      <th>Suburb</th>
		    </tr>
		 </thead>

		 <tbody>
		    <td><%= @suburb.city.city_name %></td>
		    <td><%= @suburb.suburb_name %></td>
		 </tbody>

    </table>

  <% if current_user.present? && current_user.role_id == 1 %>
    <%= link_to ' Edit Suburb', edit_suburb_path(@suburb), class: 'btn btn-success', remote: true %>
  <% end %>

    <%= link_to ' Go Back', suburbs_path, class: 'btn btn-info  pull-right fa fa-angle-double-left', remote: true %>

   </div>

   <div class="col-md-3 xs-3"></div>
</div>



