<%= simple_form_for(@contat) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :firstname %>
    <%= f.input :lastname %>
    <%= f.input :phone_number %>
    <%= f.input :email %>
    <%= f.input :gender %>
    <%= f.input :locality_id %>
    <%= f.input :job_title_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
