<p id="notice"><%= notice %></p>

<h1>Listing Contats</h1>

<table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Phone number</th>
      <th>Email</th>
      <th>Gender</th>
      <th>Locality</th>
      <th>Job title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contats.each do |contat| %>
      <tr>
        <td><%= contat.firstname %></td>
        <td><%= contat.lastname %></td>
        <td><%= contat.phone_number %></td>
        <td><%= contat.email %></td>
        <td><%= contat.gender %></td>
        <td><%= contat.locality_id %></td>
        <td><%= contat.job_title_id %></td>
        <td><%= link_to 'Show', contat %></td>
        <td><%= link_to 'Edit', edit_contat_path(contat) %></td>
        <td><%= link_to 'Destroy', contat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contat', new_contat_path %>
