<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @contat.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @contat.lastname %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @contat.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contat.email %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @contat.gender %>
</p>

<p>
  <strong>Locality:</strong>
  <%= @contat.locality_id %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @contat.job_title_id %>
</p>

<%= link_to 'Edit', edit_contat_path(@contat) %> |
<%= link_to 'Back', contats_path %>
