<%= simple_form_for(@user, url: update_user_path) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

   <%= f.input :username, required: true %>

   <%= f.input :email, required: true %>

  <% if current_user.present? && current_user.role_id == 1 %>
      <%= f.input :role_id, collection: @roles, label_method: :role_name, value_method: :id %>

  <% else %>
      <%= f.input :role_id, collection: @roles, label_method: :role_name, value_method: :id, disabled: true %>
  <% end %>


  </div>

  <%= f.submit "Update User", class: "btn btn-success" %>

    <% if current_user.present? && current_user.role_id == 1 %>
       <%= link_to ' Go Back', users_path, class: 'pull-right btn btn-info fa fa-angle-double-left' %>

    <% else %>
      <%= link_to ' Go Back', :back, class: 'pull-right btn btn-info fa fa-angle-double-left' %>
    <% end %>
  <br><br>
<% end %>
