<%= simple_form_for(@user, url: create_user_path) do |f| %>
  <%= f.error_notification %>

<div class="form-inputs">

   <%= f.input :username, required: true %>

  <%= f.input :email, required: true, email: true %>

   <%= f.input :password, required: true %>


   <%= f.input :password_confirmation, required: true %>
  <%= f.input :role_id, collection: @roles, label_method: :role_name, value_method: :id, required: true %>
    <%= f.input :status, :as=> :hidden, input_html: {value: 1 } %>
</div>

  <div class="form-actions">
    <%= f.submit "Create User", class: "btn btn-success" %>
    <%= link_to ' Go Back', users_path, class: 'pull-right btn btn-info fa fa-angle-double-left' %>
</div>
<br>
<% end %>
