
<h3>Listing Users</h3>

<div class="table-responsive" style="border: none">
    <table class="table table-striped table-condensed table-bordered">
      <thead>
        <tr style="background: #F5FFFA;">
            <p style = 'text-align: center; font-family: tahoma; font-size: 15px;'><b>Download:</b> <%= link_to "csv", users_path(format: "csv") %> | <%= link_to "excel", users_path(format: "xlsx") %> </p>
           <%= link_to 'New User', new_user_path, class: 'btn btn-default pull-right', style: 'position: fixed' %>

           <%=form_tag users_path, method: :get, input_html:{display:"block"} do %>

           <div class="pull-right"><input id="username" type="radio" name="search_param" value="username" style="width: auto;" /> Filter by username &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>

            <!-- <div class="pull-right"><input id="phone_number" type="radio" name="search_param" value="phone_number" style="width: auto; " /> Filter by phone number &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div> -->


           <input type="submit" id="search-field2" class=" hidden btn btn-primary pull-right" value="Search" style="margin-right: -10px">

           <div class="form-inline" style="margin-left: 10px">
              <input id="search-field" class="form-control hidden pull-right"  name="search_value" />
           </div>

           <% end %>

           <br><br>
          <th>S/N</th>
          <th>Username</th>
          <th>Email</th>
          <th>Role</th>
          <th colspan="3" style="width: 15%">Options</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.username %></td>
            <td><%= user.email %></td>
            <td><%= user.role.role_name if user.role %></td>

            <td><%= link_to ' Show', user, class: 'btn btn-info fa fa-eye' %></td>
            <td><%= link_to ' Edit', edit_user_path(user), class: 'btn btn-default fa fa-edit' %></td>
            <!-- <td><%= link_to ' Delete', user, method: :delete, class: 'btn btn-danger fa fa-remove', data: { confirm: 'Are you sure?' } %></td> -->

            <td>
              <% if user.status == false %>
                  <%= link_to 'Enable', enable_user_path(:id => user.id), :class => 'btn btn-success'%>
                  <% else user.status == true %>
                  <%= link_to 'Disable', disable_user_path(:id => user.id), :class => 'btn btn-danger',data: {confirm: 'Are you sure?'}%>
              <% end %>
            </td>

          </tr>
        <% end %>
      </tbody>
    </table>

    <%= will_paginate @users, renderer: BootstrapPagination::Rails, previous_label: 'Older', next_lable: 'Newer', class: 'pagination-sm'  %>

</div>

<br>

<script>
    $(document).ready(function() {
        $(".radio_div div input").click(function() {
            $("#date_div").addClass("hidden");
            $("#search-field").removeClass("hidden");
            $("#narrative_div").addClass("hidden");
            //$("#date_div").fadeIn('slow');
        });
        $("#username").click(function() {
            if ($("#username").is(":checked")) {
                $("#search-field").attr("placeholder", "Username");
                $("#search-field2").removeClass("hidden")
                $("#search-field").removeClass("hidden");
            }
        });
        ////////////////////////////////////////////////////////////////////////////
        $("#phone_number").click(function() {
            if ($("#phone_number").is(":checked")) {
                $("#search-field").attr("placeholder", "Mobile number");
                $("#date_div").addClass("hidden");
                $("#search-field").removeClass("hidden");
                $("#search-field2").removeClass("hidden")
            }
        });
        $("#recipient_number").click(function() {
            if ($("#recipient_number").is(":checked")) {
                $("#search-field").attr("placeholder", "Recipient Number");
                $("#date_div").addClass("hidden");
                $("#search-field").removeClass("hidden");
            }
        });
        //////////////////////////clicking on filter by date
        $("#date").click(function() {
            //if ($("#date").is(":checked")){
            $("#date_div").removeClass("hidden");
            $("#search-field").addClass("hidden");
            $("#date-field").removeClass("hidden");
            $("#date-field2").removeClass("hidden");
            $("#search-field2").removeClass("hidden")
            //$("#date_div").fadeIn('slow');
            //}
        });
        $("#date-field").click(function() {
            //if ($("#date").is(":checked")){
            $("#date_div").removeClass("hidden");
            $("#search-field").addClass("hidden");
            $("#date-field").removeClass("hidden");
            $("#date-field2").removeClass("hidden");
            $("#search-field2").removeClass("hidden")
            //$("#date_div").fadeIn('slow');
            //}
        });
        $("#date-field2").click(function() {
            //if ($("#date").is(":checked")){
            $("#date_div").removeClass("hidden");
            $("#search-field").addClass("hidden");
            $("#date-field").removeClass("hidden");
            $("#date-field2").removeClass("hidden");
            $("#search-field2").removeClass("hidden")
            //$("#date_div").fadeIn('slow');
            //}
        });
        ///////////////////////////////////////////////////
        $.fn.datepicker.noConflict = function() {
            $.fn.datepicker = old;
            return this;
        };
        ////////////////////////////////////////////////////
        $(function() {
            $('#date-field').datepicker({
                dateFormat : 'yy-mm-dd'
            });
        });
        //////////////////////////////////////////////////////
        $(function() {
            $('#date-field2').datepicker({
                dateFormat : 'yy-mm-dd'
            });
        });
        $('#csv').click(function() {
            console.log('works!');
            $('#csv_perpage').val($('#record').val());
            $('#csv_page').val($('li.active span').html());
            $('#csv_submit').click();
            console.log('works!');
        });
        /////////////////////////////////////////////////////////////
        $('#excel').click(function() {
            $('#excel_perpage').val($('#record').val());
            $('#excel_page').val($('li.active span').html());
            $('#excel_submit').click();
        });
    });
</script>
