<!-- <p id="notice"><%= notice %></p> -->

<div class="col-md-3 xs-12"></div>

   <div class="col-md-6 xs-12" id="content">
       <table class="table table-striped table-condensed table-bordered">
         <h3>User Details</h3>
    	     <thead>
    		    <tr>
    		      <th>Username</th>
    		      <th>Email</th>
              <th>User Role</th>
    		    </tr>
    		 </thead>

    		 <tbody>
    		    <td><%= @user.username %></td>
    		    <td><%= @user.email %></td>
            <td><%= @user.role.role_name if @user.role %></td>
    		 </tbody>

        </table>

      <% if current_user.present? && current_user.role_id == 1 %>
        <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-success' %>
        <%= link_to ' Go Back', :back, class: 'btn btn-info pull-right fa fa-angle-double-left' %>

      <% else %>
          <%= link_to ' Go Back', edit_user_path(@user), class: 'btn btn-info pull-right fa fa-angle-double-left' %>
      <% end %>

    </div>

<div class="col-md-3 xs-12"></div>
