<div class="container">
	<div class="col-md-4 col-xs-12"></div>
	<div class="col-md-4 col-xs-12" style="margin-top: 10%">
		<%= image_tag "home.jpg", class: 'img img-responsive img-rounded img-thumbnail' %>
	</div>
	<div class="col-md-4 col-xs-12"></div>
</div>