<%= simple_form_for(@job_title) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :job_title_name %>
      <%= f.input :status, :as=> :hidden, input_html: {value: 1 } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-success' %>
    <%= link_to ' Go Back', job_titles_path, class: 'pull-right btn btn-info fa fa-angle-double-left' %>
  </div>
<% end %>
