<!-- <p id="notice"><%= notice %></p> -->

<h3>Listing Job Titles</h3>

<div class="col-md-3"></div>

<div class="col-md-6">
      <div class="table-responsive" style="border: none">

          <table class="table table-striped table-condensed table-bordered">
            <thead>
              <tr style="background: #F5FFFA;">
                  <p style = 'text-align: center; font-family: tahoma; font-size: 15px;'><b>Download:</b> <%= link_to "csv", job_titles_path(format: "csv") %> | <%= link_to "excel", job_titles_path(format: "xlsx") %> </p>
              <% if current_user.present? && current_user.role_id == 1 %>
                  <%= link_to 'New Job title', new_job_title_path, class: 'btn btn-default pull-right', style: 'position: fixed' %>
              <% end %>


              <%=form_tag job_titles_path, method: :get, input_html:{display:"block"} do %>

                <div class="pull-right"><input id="job_title_name" type="radio" name="search_param" value="job_title_name" style="width: auto;" /> Filter by job title &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>

                <!-- <div class="pull-right"><input id="phone_number" type="radio" name="search_param" value="phone_number" style="width: auto; " /> Filter by phone number &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div> -->


                <input type="submit" id="search-field2" class=" hidden btn btn-primary pull-right" value="Search" style="margin-right: -10px">

                <div class="form-inline" style="margin-left: 10px">
                     <input id="search-field" class="form-control hidden pull-right"  name="search_value" />
                </div>

            <% end %>


                  <br><br>
                <th style="width: 5%">S/N</th>
                <th>Job title name</th>
              <% if current_user.present? && current_user.role_id == 1 %>
                <th colspan="3" style="width: 15%">Options</th>

              <% else %>
                <th style="width: 10%">Options</th>
              <% end %>

              </tr>
            </thead>

            <tbody>
              <% @job_titles.each do |job_title| %>
                <tr>
                  <td><%= job_title.id %></td>
                  <td><%= job_title.job_title_name %></td>
                  <td><%= link_to ' Show', job_title, class: 'btn btn-info fa fa-eye' %></td>

                <% if current_user.present? && current_user.role_id == 1 %>
                  <td><%= link_to ' Edit', edit_job_title_path(job_title), class: 'btn btn-default fa fa-edit' %></td>
                  <!-- <td><%= link_to ' Delete', job_title, method: :delete, class: 'btn btn-danger fa fa-remove', data: { confirm: 'Are you sure?' } %></td> -->

                  <td>
                    <% if job_title.status == false %>
                        <%= link_to 'Enable', enable_job_title_path(:id => job_title.id), :class => 'btn btn-success'%>
                        <% else job_title.status == true %>
                        <%= link_to 'Disable', disable_job_title_path(:id => job_title.id), :class => 'btn btn-danger',data: {confirm: 'Are you sure?'}%>
                    <% end %>
                  </td>

               <% end %>

                </tr>
              <% end %>
            </tbody>
          </table>

          <%= will_paginate @job_titles, renderer: BootstrapPagination::Rails, previous_label: 'Older', next_lable: 'Newer', class: 'pagination-sm'  %>

      </div>
</div>
<div class="col-md-3"></div>
<br>

<script>
    $(document).ready(function() {
        $(".radio_div div input").click(function() {
            $("#date_div").addClass("hidden");
            $("#search-field").removeClass("hidden");
            $("#narrative_div").addClass("hidden");
            //$("#date_div").fadeIn('slow');
        });
        $("#job_title_name").click(function() {
            if ($("#job_title_name").is(":checked")) {
                $("#search-field").attr("placeholder", "Job Title");
                $("#search-field2").removeClass("hidden")
                $("#search-field").removeClass("hidden");
            }
        });
        ////////////////////////////////////////////////////////////////////////////
        $("#phone_number").click(function() {
            if ($("#phone_number").is(":checked")) {
                $("#search-field").attr("placeholder", "Mobile number");
                $("#date_div").addClass("hidden");
                $("#search-field").removeClass("hidden");
                $("#search-field2").removeClass("hidden")
            }
        });
        $("#recipient_number").click(function() {
            if ($("#recipient_number").is(":checked")) {
                $("#search-field").attr("placeholder", "Recipient Number");
                $("#date_div").addClass("hidden");
                $("#search-field").removeClass("hidden");
            }
        });
        //////////////////////////clicking on filter by date
        $("#date").click(function() {
            //if ($("#date").is(":checked")){
            $("#date_div").removeClass("hidden");
            $("#search-field").addClass("hidden");
            $("#date-field").removeClass("hidden");
            $("#date-field2").removeClass("hidden");
            $("#search-field2").removeClass("hidden")
            //$("#date_div").fadeIn('slow');
            //}
        });
        $("#date-field").click(function() {
            //if ($("#date").is(":checked")){
            $("#date_div").removeClass("hidden");
            $("#search-field").addClass("hidden");
            $("#date-field").removeClass("hidden");
            $("#date-field2").removeClass("hidden");
            $("#search-field2").removeClass("hidden")
            //$("#date_div").fadeIn('slow');
            //}
        });
        $("#date-field2").click(function() {
            //if ($("#date").is(":checked")){
            $("#date_div").removeClass("hidden");
            $("#search-field").addClass("hidden");
            $("#date-field").removeClass("hidden");
            $("#date-field2").removeClass("hidden");
            $("#search-field2").removeClass("hidden")
            //$("#date_div").fadeIn('slow');
            //}
        });
        ///////////////////////////////////////////////////
        $.fn.datepicker.noConflict = function() {
            $.fn.datepicker = old;
            return this;
        };
        ////////////////////////////////////////////////////
        $(function() {
            $('#date-field').datepicker({
                dateFormat : 'yy-mm-dd'
            });
        });
        //////////////////////////////////////////////////////
        $(function() {
            $('#date-field2').datepicker({
                dateFormat : 'yy-mm-dd'
            });
        });
        $('#csv').click(function() {
            console.log('works!');
            $('#csv_perpage').val($('#record').val());
            $('#csv_page').val($('li.active span').html());
            $('#csv_submit').click();
            console.log('works!');
        });
        /////////////////////////////////////////////////////////////
        $('#excel').click(function() {
            $('#excel_perpage').val($('#record').val());
            $('#excel_page').val($('li.active span').html());
            $('#excel_submit').click();
        });
    });
</script>
