<div class="row">
   <div class="col-md-3 xs-12"></div>

   <div class="col-md-6 xs-12" id="content">
     <table class="table table-striped table-condensed" >

        <h3 >Job Title Details</h3>

        <tr><td><strong>Job Title:</strong></td><td>  <%= @job_title.job_title_name %></td></tr>

    </table>

   <% if current_user.present? && current_user.role_id == 1 %>
      <%= link_to ' Edit Job Title', edit_job_title_path(@job_title), class: 'btn btn-success' %>
   <% end %>
   
    <%= link_to ' Go Back', job_titles_path, class: 'btn btn-info pull-right fa fa-angle-double-left' %>

   </div>

   <div class="col-md-3 xs-12"></div>
</div>

<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Job title name:</strong>
  <%= @job_title.job_title_name %>
</p>

<%= link_to 'Edit', edit_job_title_path(@job_title) %> |
<%= link_to 'Back', job_titles_path %> -->
