<%= simple_form_for(@contact) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs ">
    <%= f.input :firstname %>
    <%= f.input :lastname %>
    <%= f.input :phone_number %>
    <%= f.input :email %>
    <%= f.input :gender, collection: ['Male', 'Female'] %>

    <%= f.input :locality_id, label: 'Region', collection: @regions, label_method: :region_name, value_method: :id, input_html: {id: "id_regions" }  %>

    <%= f.input :locality_id, label: "City", collection: [], label_method: :city_name, value_method: :id, input_html:{id: "id_cities"}  %>

    <%= f.input :locality_id, label: 'Suburb', collection: [], label_method: :suburb_name, value_method: :id, input_html:{id: "id_suburbs"}  %>

    <%= f.input :locality_id, collection: [], label_method: :locality_name, value_method: :id, input_html: {id: 'id_localities'} %>
    <%= f.input :job_title_id, collection: @job_titles, label_method: :job_title_name, value_method: :id %>
    <%= f.input :status, :as=> :hidden, input_html: {value: 1 } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-success' %>
    <%= link_to ' Go Back', contacts_path, class: 'pull-right btn btn-info fa fa-angle-double-left' %>
  </div>
  <br>
<% end %>

<script type="text/javascript">
    $(document).ready(function() {
       
        //empty it
//        $('#id_cities').empty();
        //before ajax call

        $('#id_regions').change(function() {
            console.log('works on region chang');
            $.ajax({
                url: '<%= city_cascade_path %>',
                data: {
                    region_id : $('#id_regions').val()
                },
                dataType: "script"
            });
        });


         $('#id_cities').change(function() {
           console.log('works on city change');
            $.ajax({
                url: '<%= suburb_contact_cascade_path %>',
                data: {
                    city_id : $('#id_cities').val()
                },
                dataType: "script"
            });
        });

        $('#id_suburbs').change(function() {
           console.log('works on suburb change');
            $.ajax({
                url: '<%= locality_contact_cascade_path %>',
                data: {
                    suburb_id : $('#id_suburbs').val()
                },
                dataType: "script"
            });
        });




  });

</script>

