<!-- <p id="notice"><%= notice %></p> -->

<% require 'csv' %>

<h3>Listing Contacts</h3>


<div class="table-responsive" style="border: none">

    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <br>
        <tr style="background: #F5FFFA;">
        <p style = 'text-align: center; font-family: tahoma; font-size: 15px;'><b>Download:</b> <%= link_to "csv", contacts_path(format: "csv") %> | <%= link_to "excel", contacts_path(format: "xlsx") %> </p>
              <% if current_user.present? && current_user.role_id == 1 %>
                <%= link_to 'New Contact', new_contact_path, class: 'btn btn-default pull-right', style: 'position: fixed' %>
              <% end %>

                  <%=form_tag contacts_path, method: :get, input_html:{display:"block"} do %>

                  <div class="pull-right"><input id="firstname" type="radio" name="search_param" value="firstname" style="width: auto;" /> Filter by firstname &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>

                   <div class="pull-right"><input id="phone_number" type="radio" name="search_param" value="phone_number" style="width: auto; " /> Filter by phone number &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>


                  <input type="submit" id="search-field2" class=" hidden btn btn-primary pull-right" value="Search" style="margin-right: -10px">

                  <div class="form-inline" style="margin-left: 10px">
                     <input id="search-field" class="form-control hidden pull-right"  name="search_value" />
                  </div>

                  <% end %>

            <br><br>

          <th>S/N</th>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Phone number</th>
          <th>Email</th>
          <th>Gender</th>
          <th>Locality</th>
          <th>Job title</th>

          <% if current_user.present? && current_user.role_id == 1 %>
          <th colspan="3" style="width: 10%">Options</th>

          <% else %>
            <th style="width: 10%">Options</th>
          <% end %>

        </tr>
      </thead>

      <tbody>
        <% @contacts.each do |contact| %>
          <tr>
            <td><%= contact.id %></td>
            <td><%= contact.firstname %></td>
            <td><%= contact.lastname %></td>
            <td><%= contact.phone_number %></td>
            <td><%= contact.email %></td>
            <td><%= contact.gender %></td>
            <td><%= contact.locality.locality_name if contact.locality %></td>
            <td><%= contact.job_title.job_title_name if contact.job_title %></td>
            <td><%= link_to ' Show', contact, class: 'btn btn-info fa fa-eye' %></td>

            <% if current_user.present? && current_user.role_id == 1 %>

            <td><%= link_to ' Edit', edit_contact_path(contact), class: 'btn btn-default fa fa-edit' %></td>

            <!-- <td><%= link_to ' Delete', contact, method: :delete, class: 'btn btn-danger fa fa-remove', data: { confirm: 'Are you sure?' } %></td> -->

          <td>
            <% if contact.status == false %>
                <%= link_to 'Enable', enable_contact_path(:id => contact.id), :class => 'btn btn-success'%>
                <% else contact.status == true %>
                <%= link_to 'Disable', disable_contact_path(:id => contact.id), :class => 'btn btn-danger',data: {confirm: 'Are you sure?'}%>
            <% end %>
          </td>

            <% end %>

          </tr>
        <% end %>
      </tbody>
    </table>

<%= will_paginate @contacts, renderer: BootstrapPagination::Rails, previous_label: 'Older', next_lable: 'Newer', class: 'pagination-sm'  %>

    <!-- <%= will_paginate @contacts, previous_label: 'Older', next_lable: 'Newer', class: 'pagination' %> -->
</div>
<br>

<script>
    $(document).ready(function() {
        $(".radio_div div input").click(function() {
            $("#date_div").addClass("hidden");
            $("#search-field").removeClass("hidden");
            $("#narrative_div").addClass("hidden");
            //$("#date_div").fadeIn('slow');
        });
        $("#firstname").click(function() {
            if ($("#firstname").is(":checked")) {
                $("#search-field").attr("placeholder", "Firstname");
                $("#search-field2").removeClass("hidden")
                $("#search-field").removeClass("hidden");
            }
        });
        ////////////////////////////////////////////////////////////////////////////
        $("#phone_number").click(function() {
            if ($("#phone_number").is(":checked")) {
                $("#search-field").attr("placeholder", "Mobile number");
                $("#date_div").addClass("hidden");
                $("#search-field").removeClass("hidden");
                $("#search-field2").removeClass("hidden")
            }
        });
        $("#recipient_number").click(function() {
            if ($("#recipient_number").is(":checked")) {
                $("#search-field").attr("placeholder", "Recipient Number");
                $("#date_div").addClass("hidden");
                $("#search-field").removeClass("hidden");
            }
        });
        //////////////////////////clicking on filter by date
        $("#date").click(function() {
            //if ($("#date").is(":checked")){
            $("#date_div").removeClass("hidden");
            $("#search-field").addClass("hidden");
            $("#date-field").removeClass("hidden");
            $("#date-field2").removeClass("hidden");
            $("#search-field2").removeClass("hidden")
            //$("#date_div").fadeIn('slow');
            //}
        });
        $("#date-field").click(function() {
            //if ($("#date").is(":checked")){
            $("#date_div").removeClass("hidden");
            $("#search-field").addClass("hidden");
            $("#date-field").removeClass("hidden");
            $("#date-field2").removeClass("hidden");
            $("#search-field2").removeClass("hidden")
            //$("#date_div").fadeIn('slow');
            //}
        });
        $("#date-field2").click(function() {
            //if ($("#date").is(":checked")){
            $("#date_div").removeClass("hidden");
            $("#search-field").addClass("hidden");
            $("#date-field").removeClass("hidden");
            $("#date-field2").removeClass("hidden");
            $("#search-field2").removeClass("hidden")
            //$("#date_div").fadeIn('slow');
            //}
        });
        ///////////////////////////////////////////////////
        $.fn.datepicker.noConflict = function() {
            $.fn.datepicker = old;
            return this;
        };
        ////////////////////////////////////////////////////
        $(function() {
            $('#date-field').datepicker({
                dateFormat : 'yy-mm-dd'
            });
        });
        //////////////////////////////////////////////////////
        $(function() {
            $('#date-field2').datepicker({
                dateFormat : 'yy-mm-dd'
            });
        });
        $('#csv').click(function() {
            console.log('works!');
            $('#csv_perpage').val($('#record').val());
            $('#csv_page').val($('li.active span').html());
            $('#csv_submit').click();
            console.log('works!');
        });
        /////////////////////////////////////////////////////////////
        $('#excel').click(function() {
            $('#excel_perpage').val($('#record').val());
            $('#excel_page').val($('li.active span').html());
            $('#excel_submit').click();
        });
    });
</script>
