<div class="row">
   <div class="col-md-3 xs-12"></div>

   <div class="col-md-6 xs-12" id="content">
     <table class="table table-striped table-condensed" >

        <h3 >Contact Details</h3>

        <tr><td style="background: #ccc"><strong>Firstname:</strong></td><td style="padding-left: 6%""><%= @contact.firstname %></td></tr>

        <tr><td style="background: #ccc"><strong>Lastname:</strong></td><td style="padding-left: 6%"><%= @contact.lastname %></td></tr>

        <tr><td style="background: #ccc"><strong>Phone number:</strong></td><td style="padding-left: 6%"><%= @contact.phone_number %></td></tr>

        <tr><td style="background: #ccc"><strong>Email:</strong></td><td style="padding-left: 6%"><%= @contact.email %></td></tr>

        <tr><td style="background: #ccc"><strong>Gender:</strong></td><td style="padding-left: 6%"><%= @contact.gender %></td></tr>

        <tr><td style="background: #ccc"><strong>Locality:</strong></td><td style="padding-left: 6%"><%= @contact.locality.locality_name if @contact.locality %></td></tr>

        <tr><td style="background: #ccc"><strong>Job Title:</strong></td><td style="padding-left: 6%"><%= @contact.job_title.job_title_name  if @contact.job_title %></td></tr>

    </table>

    <% if current_user.present? && current_user.role_id == 1 %>
      <%= link_to 'Edit Contact', edit_contact_path(@contact), class: 'btn btn-success' %>
    <% end %>

    <%= link_to ' Go Back', contacts_path, class: 'btn btn-info pull-right fa fa-angle-double-left' %>

   </div>

   <div class="col-md-3 xs-12"></div>
</div>



<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @contact.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @contact.lastname %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @contact.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @contact.gender %>
</p>

<p>
  <strong>Locality:</strong>
  <%= @contact.locality_id %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @contact.job_title_id %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %> -->
