<div class="row">
     <div class="col-md-4 xs-3"></div>

     <div class="col-md-4 xs-6" id = "login" style="border-radius: 3%; margin-top: 15%">
          <h3>Log in</h3>

          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-inputs">
              <%= f.input :username, required: false, autofocus: true %>
              <%= f.input :password, required: false %>
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Log in", class: 'form-control btn-success' %>
            </div>
          <% end %>
          <%= render "devise/shared/links" %>
          <br>

     </div>

     <div class="col-md-4 xs-3"></div>
</div>
