<div class="row">
   <div class="col-md-3 xs-12"></div>

   <div class="col-md-6 xs-12" id="content">
     <table class="table table-striped table-condensed" >

        <h3 >Role Details</h3>

        <tr><td><strong>Role name:</strong></td><td> <%= @role.role_name %></td></tr>

    </table>


    <%= link_to ' Edit Role', edit_role_path(@role), class: 'btn btn-success' %>
    <%= link_to ' Go Back', roles_path, class: 'btn btn-info pull-right fa fa-angle-double-left' %>

   </div>

   <div class="col-md-3 xs-12"></div>
</div>

<!--
<p id="notice"><%= notice %></p>

<p>
  <strong>Role name:</strong>
  <%= @role.role_name %>
</p>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %> -->
