<br>
<div class="row">
     <div class="col-md-4 xs-3"></div>

     <div class="col-md-4 xs-6" id="form" style="border-radius: 3%">
          <h3>Edit City</h3>
        <%= render 'form' %>
          <!-- <%= link_to 'Show', @contact, style: 'margin-left: 50%; margin-top: -5%' %> -->
     </div>

     <div class="col-md-4 xs-3"></div>
</div>
<br><br>

<!-- <h1>Editing City</h1>

<%= render 'form' %>

<%= link_to 'Show', @city %> |
<%= link_to 'Back', cities_path %> -->
