<%= simple_form_for(@city, :remote=>true) do |f| %>
  <%= f.error_notification %>
  
  <div class="form-inputs">
    <%= f.input :region_id, collection: @regions, label_method: :region_name, value_method: :id %>
    <%= f.input :city_name %>
    <%= f.input :status, :as=> :hidden, input_html: {value: 1 } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-success' %>
    <%= link_to ' Go Back', cities_path, class: 'pull-right btn btn-info fa fa-angle-double-left', remote: true %>
  </div>
  <br>
<% end %>
