<div class="row">
     <div class="col-md-4 xs-3"></div>

     <div class="col-md-4 xs-6" id="form" style="border-radius: 3%; margin-top: 10%">
          <h3>New City</h3>
        <%= render 'form' %>
     </div>

     <div class="col-md-4 xs-3"></div>
</div>
<br><br>
