body{
  /*background-image: url(background2.jpg);*/
  /*background: #F5FFFA;*/
}

#login{
  background: lightblue;
}

#content{
  background: white;
  padding: 10px;
}

#form{
  background: #F5FFFA;
}

#nav{
  background: lightblue;

}

h3{
  font-family: tahoma;
  text-align: center;
  margin-top: -1px;
  padding-top: 5px;
}
