<div class="row">
   <div class="col-md-3 xs-12"></div>

   <div class="col-md-6 xs-12" id="content">
     <table class="table table-striped table-condensed" >

        <h3 >City Details</h3>

         <thead>
            <tr>
              <th>Region</th>
              <th>City name</th>
            </tr>
         </thead>

         <tbody>
    		    <td><%= @city.region.region_name %></td>
    		    <td><%= @city.city_name %></td>
		    </tbody>

    </table>

      <% if current_user.present? && current_user.role_id == 1 %>
         <%= link_to ' Edit City', edit_city_path(@city), class: 'btn btn-success' %>
      <% end %>
      <%= link_to ' Go Back', cities_path, class: 'btn btn-info pull-right fa fa-angle-double-left', remote: true %>

   </div>

   <div class="col-md-3 xs-12"></div>
</div>
<!--
<p id="notice"><%= notice %></p>

<p>
  <strong>Region:</strong>
  <%= @city.region_id %>
</p>

<p>
  <strong>City name:</strong>
  <%= @city.city_name %>
</p>

<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %> -->
