<%= simple_form_for(@region, remote: true) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :region_name %>
    <%= f.input :status, :as=> :hidden, input_html: {value: 1 } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-success' %>
    <%= link_to ' Back', regions_path, class: 'pull-right btn btn-info fa fa-angle-double-left' %>
  </div>
  <br>
<% end %>
