<%= simple_form_for(@suburb) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :city_id, collection: @cities, label_method: :city_name, value_method: :id %>
    <%= f.input :suburb_name %>
      <%= f.input :status, :as=> :hidden, input_html: {value: 1 } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-success' %>
    <%= link_to ' Go Back', regions_path, class: 'pull-right btn btn-info fa fa-angle-double-left' %>
  </div>
<% end %>
