<div class = 'container' >
	<ul class="nav nav-tabs" style="">
		<li class="active"><a href="#regions_index" data-toggle="tab">Regions </a></li>
		<li class=""><a href="#cities" data-toggle="tab">Cities </a></li>
		<li class=""><a href="#suburbs" data-toggle="tab">Suburbs </a></li>
		<li class=""><a href="#localities" data-toggle="tab">Localities </a></li>
	</ul>
	<br>
	<div id ="mytabcontent" class="tab-content">
			<div class="tab-pane fade active in" id="regions_index">
			<%= render :partial=> 'regions_index' %>
			</div>

			<div class="tab-pane fade " id="cities">
			<%= render :partial=> 'cities' %>
			</div>

			<div class="tab-pane fade " id="suburbs">
			<%= render :partial=> 'suburbs' %>
			</div>

			<div class="tab-pane fade " id="localities">
			<%= render :partial=> 'localities' %>
			</div>
	</div>
</div>