<div class="row">
   <div class="col-md-3 xs-12"></div>

   <div class="col-md-6 xs-12" id="content">
     <table class="table table-striped table-condensed" >

        <h3 >Region Details</h3>

        <tr><td><strong>Region Name:</strong></td><td><%= @region.region_name %></td></tr>

    </table>


    <% if current_user.present? && current_user.role_id == 1 %>
       <%= link_to ' Edit Region', edit_region_path(@region), class: 'btn btn-success' %>
    <% end %>
    <%= link_to ' Go Back', regions_path, class: 'btn btn-info pull-right fa fa-angle-double-left' %>

   </div>

   <div class="col-md-3 xs-12"></div>
</div>

<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Region name:</strong>
  <%= @region.region_name %>
</p>

<%= link_to 'Edit', edit_region_path(@region) %> |
<%= link_to 'Back', regions_path %> -->
