<!-- <ul class="nav">
  <li><%= link_to 'Home', root_path %></li>
  <%= render 'layouts/navigation_links' %>
</ul> -->

<!-- <% if user_signed_in? %> -->
<nav class="navbar navbar-default" id="nav" style="color: white;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="#">Brand</a> -->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to '', root_path, class: 'fa fa-home fa-2x' %></li>
        <%= render 'layouts/navigation_links' %>
      </ul>
      <!-- <% if current_user %> -->
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-user-o"></span>
              <% if current_user.present? && current_user.role_id? %>
                 <%= current_user.username %>
              <% end %>
           <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <!-- <li><%= link_to ' Users',  users_path, class: 'fa fa-edit' %></li> -->
             <li><%= link_to ' Edit Profile',  edit_user_path(current_user), class: 'fa fa-edit' %></li>
             <li><%= link_to ' Sign Out', destroy_user_session_path, method: :delete, class: 'fa fa-power-off' %> </li>
          </ul>
        </li>
      </ul>
      <!-- <% end %> -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- <% end %> -->
