<%# add navigation links to this file %>
<li><%= link_to 'Contacts',  contacts_path %></li>
<li><%= link_to 'Locations',  regions_path %></li>

<li><%#= link_to 'Cities',  cities_path %></li>
<li><%#= link_to 'Suburbs',  suburbs_path %></li>
<li><%#= link_to 'Localities',  localities_path %></li>
<li><%#= link_to 'Job Titles',  job_titles_path %></li> 


<% if current_user.present? && current_user.role_id == 1 %>
    <li><%= link_to ' Users',  users_path %></li>
    <li><%= link_to ' Roles',  roles_path %></li>
<% end %>
