<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Rework" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rework" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/navigation', style: 'color: white' %>
 
    <div class="container" >
      <%= render 'layouts/messages' %>

      <%= yield %>
      
    </div>
  </body>
</html>
